# node_modules/
# __pycache__/
# venv/
# .env
# .DS_Store
# build/
# dist/
# --- Python / Backend ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env

# --- Node / Frontend ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Production Builds ---
dist/
build/
out/

# --- Operating System Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- Database (Local) ---
*.sqlite3
#notebook
ADHYA_Audit.ipynb